In [26]:
import pandas as pd
input_data={
    'CreditScore': 100,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 39,
    'Tenure': 1,
    'Balance': 10,
    'NumOfProducts': 1,
    'HasCrCard': 0,
    'IsActiveMember': 0,
    'EstimatedSalary': 100000
}
df = pd.DataFrame(data=[input_data])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,France,Female,39,1,10,1,0,0,100000

In [27]:
import pickle
from sklearn.pipeline import Pipeline
from tensorflow.keras.models import load_model
with open('preprocessor.pkl', 'rb') as f:
    preprocessor = pickle.load(f)
ann_model = load_model('model.h5')

ann_model.predict(preprocessor.transform(df))

1/1 [==============================] - 0s 117ms/step

array([[0.36671183]], dtype=float32)